  <!-- CUERPO DEL EJERCICIO -->
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          Esta aplicación es para encriptar un mensaje. Deberías de introducir
          un texto y, al pulstar el botón, este mensaje viajará hasta el 
          servidor, el cual lo encriptará y lo devolverá cifrado.
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <form method="post" action="/procesar">
            Escribe tu mensaje:
            <input type="text" name="texto" value="{{mensaje}}">
            <input type="submit" value="Ecriptar">
            <input type="button" name="borrar" value="Borrar">
          </form>
        </div>
        <div class="col-12 resultado">
          <p>El mensaje introducido fue: {{mensaje}} y su longitud es de {{longitud}} caracteres</p>
          <p>El mensaje encriptado es: {{texto}}</p>
        </div>
    </div>
  </main>